p{
    color:red;
    }
div p{
    color:blue;
}
.header-of-main-page{ 
    color:green;
    text-align: center;}
.header-of-main-page a{	
	text-transform: uppercase;
	color: yellow;
}
.toolbar li {
    display: inline;
    background-color: #EEE;
    border: 1px solid;
    border-color: #F3F3F3 #BBB #BBB #F3F3F3;
    padding: .5em;
}
.red {
    color:red;}
.blue{
    color:blue;
}
.green {
    color: green;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	
.right { 
width: 15%; 
height: 300%; 
float: right; 
background-color: #0292BF; 
text-align: center; 
}
footer { 
 width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite;  /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
    from {right: 0px;}
    to {right: 500px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
    from {right: 0px;}
    to {right: 500px;}
}